{% extends "core/base.html" %}

{% load i18n account socialaccount widget_tweaks %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block meta_description %}Sign In to Potanist, the new community for marijuana homegrowers.{% endblock %}

{% block content %}

<div class="container">
    <h1>{% trans "Sign In" %}</h1>

    {% include "socialaccount/snippets/login_extra.html" %}
    {% get_providers as socialaccount_providers %}

    <p>{% blocktrans with site.name as site_name %}Please sign in with your
    {{ site_name }} account below, or use your existing third party accounts.{% endblocktrans %}</p>

    {% if form.non_field_errors %}
    <div class="alert alert-danger">{{ form.non_field_errors }}</div>
    {% endif %}

    <div class="row">
        <div class="col-xs-6" style="border-right:1px solid #cccccc;">
            <form class="form-horizontal" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
              {% for hidden in form.hidden_fields %}
                {{ hidden }}
              {% endfor %}

              {% for field in form.visible_fields %}
                <div class="form-group">
                  <label class="col-sm-3 col-md-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                  <div class="col-sm-9 col-md-10">
                      {% if field|widget_type != "checkboxinput" %}
                          {{ field|add_class:"form-control" }}
                      {% else %}
                          {{ field }}
                      {% endif %}
                      <div class="text-danger">{{ field.errors }}</div></div>
                </div>
              {% endfor %}

              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}

              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9 col-md-offset-2">
                  <button type="submit" class="btn btn-primary btn-lg">Sign In</button>
                </div>
              </div>
              <a class="button pull-right" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </form>
        </div>

        <div class="col-xs-12 col-sm-6">
            <h5 class='hr-text'>Or sign in with your social account:</h5>
            {% include "account/snippets/provider_list.html" with process="login" %}
        </div>
    </div>

</div>
{% endblock %}