{% extends "core/base.html" %}
{% block head_title %}About {{ block.super }}{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
      <div class="col-xs-12">
          <h1>What is Potanist?</h1>
          <p>
              Potanist is a new community for anyone interested in growing their own marijuana at home. Growing
              your own cannabis at home is legal in
              <a href="http://medicalmarijuana.procon.org/view.resource.php?resourceID=000881">
                  at least 15 U.S. states
              </a>
              and may soon be legal in
              <a href="http://time.com/4236753/canada-ends-pot-growing-ban/?xid=homepage">
                  Canada
              </a>
              and in
              <a href="http://www.cnn.com/2016/02/24/health/medical-marijuana-legal-australia-irpt/">
                  Australia.
              </a>
          </p>
          <h1>The Grower's Dashboard</h1>
          <p>
              Potanist provides homegrowers an easy and effective way to manage their grows with the Grower's Dashboard.
              Once you register for Potanist, you can keep track of all of your grows, past and present. Within
              each grow, manage your plants by entering information about the breeder and strain, expected
              flowering time, and grow methodology (such as hydroponic or soil). Once you get started, you can easily
              record your measurements to track nutrients, temperature, humidity, and more.
          </p>
          <h1>Our Community</h1>
          <p>
              If you run into trouble during your grow, you can easily share your grow details with the Potanist
              community. Let experienced growers take a look at your logs and they'll help identify where you
              might be going wrong. Remember, growing marijuana is easy, but growing <strong>good</strong> marijuana
              can be complicated.
          </p>
          <p>
              Once you get the hang of it, you can reflect on your old grows and see how far you've come as a cannabis
              homegrower. Publish your grows to help the community that helped you and earn some bragging points by
              sharing photos of your homegrown high quality marijuana.
          </p>
      </div>
  </div>
</div>

{% endblock %}